{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}
{% block title %}{{ form.yws_gets.title }}{% endblock %} 

{% block include_datatable %}
{% include "datatable.html" %}
{% endblock %}

{% block content %}
<div class="container">
    {# Display a form #}
    <form action="djbs06" method="get" class="form-inline">
        <div class="form-group bootstrap3-required"> 
            <h3>{{ form.yws_gets.title }} </h3>   
            <label for="Search">테이블명:</label>        
            {% bootstrap_form form layout='inline' align=right %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" layout='inline'> 
                {% bootstrap_icon "star" %} 제출
                </button>
            {% endbuttons %}
        </div>
    </form>
    <p></p>
    <hr>

    <div id="container" class="dataTables_wrapper">
            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%" >
                <thead>
                <tr>
                    <td><B>모델명</B></td>
                    <td><B>한글명</B></td>
                    <td><B>테이블</B></td>
                    <td><B>속성명</B></td>
                    <td><B>컬럼명</B></td>
                    <td><B>데이터타입</B></td>
                    <td><B>널여부</B></td>
                    <td><B>기본값</B></td>
                    <td><B>순서</B></td>
                    <td><B>컬럼정의</B></td>                    
                </tr>
                </thead>
                <!-- 이 부분이 바뀌었습니다 -->
                <tbody>
                        {% for row in form.yws_rows %}
                        <tr>
                            <td> {{ row.MDL_NM }} </td>
                            <td> {{ row.ENT_NM }} </td>
                            <td> {{ row.TBL_NM }} </td>
                            <td> {{ row.ATTR_NM }} </td>
                            <td> {{ row.COL_NM }} </td>
                            <td> {{ row.DT }} </td>
                            <td> {{ row.NULLABLE }} </td>
                            <td> {{ row.DEFT }} </td>
                            <td> {{ row.POS }} </td>
                            <td><pre>{{ row.DEFI }}</pre></td>                            
                        </tr>
                        {% endfor %}
                <!-- 여기까지 -->
                <tbody>
        </table>
    </div>
</div>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "paging":   false,
        "ordering" : true,
        "order": [[ 3, "asc" ],[ 9, "asc" ]],
        "info":     true
    } );
} );
</script>
{% endblock content %}