{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}
{% block title %}{{ form.yws_gets.title }}{% endblock %} 

{% block include_datatable %}
{% include "datatable.html" %}
{% endblock %}

{% block content %}
<style>
    .yws_pnt { cursor: pointer; }
</style>
<div class="container">
    <h3>{{ form.yws_gets.title }}</h3>
    <hr>
    <div id="container" class="dataTables_wrapper">
            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%" >
                <thead>
                    <tr>
                        <td><B>한글명</B></td>
                        <td><B>컬럼명</B></td>
                        <td><B>코드설명</B></td>
                        <td><B>사용테이블목록</B></td>                
                    </tr>
                </thead>
                <!-- 이 부분이 바뀌었습니다 -->
                <tbody>
                    {% for row in form.yws_rows %}
                    <tr>
                        <td> {{ row.DIC_LOG_NM }} </td>
                        <td onClick="javascript:get_cd_list('{{ row.DIC_LOG_NM }}({{ row.DIC_PHY_NM }}) 코드목록','{{ row.DIC_PHY_NM }}')" class="yws_pnt" > {{ row.DIC_PHY_NM }} </td>
                        <td style="white-space:pre-wrap; word-wrap:break-word" > {{ row.DIC_DESC }} </td>
                        <td> {{ row.TBL_NMS|safe }} </td>             
                    </tr>
                    {% endfor %}
                <!-- 여기까지 -->
                <tbody>
        </table>
    </div>
</div>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "paging":   false,
        "ordering" : true,
        "order": [[ 1, "asc" ]],
        "info":     true
    } );
} );

function get_cd_list(myTitle,myCD) {

      $.ajax({
        url: "{%  url 'mdl2tbl:cd_list'  %}",
        data: {
          'cd': myCD
        },
        dataType: 'json',
        success: function (data) {
          console.log(data);          
          if (data.ret == "OK") {
            showMyModal(myTitle,data.message);
          }
        }
      });

    }
// script for modal popup 
function showMyModal(myTitle, rows) {

   /*
    * '#myModayTitle' and '#myModalBody' refer to the 'id' of the HTML tags in
    * the modal HTML code that hold the title and body respectively. These id's
    * can be named anything, just make sure they are added as necessary.
    *
    */
    myHtml = ""
    for ( i in rows ) { 
        myHtml += "<tr><td>" + rows[i].CD + "</td><td>" + rows[i].CD_NM + "</td></tr>" ;
    }
    //console.log(myHtml);

    myBodyHtml = "";
    myBodyHtml += "<table class=\"display table table-striped table-bordered\" >";
    myBodyHtml += "<tr><th>코드값</th><th>코드명</th></tr>";    

    if ( myHtml != "" ) {
        myBodyHtml += myHtml;
    } else {
        // 값이 없을때 대비해서 dummy 출력 
        myBodyHtml += "<tr>";        
        // CD명 정보 
        myBodyHtml += "<td>" +  "데이터 없음" +  "</td>";
        // CD 정보 
        myBodyHtml += "<td>" +  "데이터 없음" +  "</td>";
        myBodyHtml += "</tr>";        
    }
    myBodyHtml += "</table>";
            
   $('#myModalTitle').html(myTitle);
   $('#myModalBody').html(myBodyHtml);
   
   $('#GSCCModal').modal('show');
}
</script>
<div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModal">Clickable content, graphics, whatever</div>
    <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="myModalTitle">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                Modal Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}