{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}
{% block title %}{{ form.yws_gets.title }}{% endblock %} 

{% block content %}
<!-- datatable include start -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

<!-- print를 위한 javascript -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<!-- datatable include end --> 
<div class="container">
    {# Display a form #}
    <form action="djbs02" method="get" class="form-inline">
        <div class="form-group bootstrap3-required"> 
            <h3>{{ form.yws_gets.title }} ( {{ form.yws_gets.subjArea}} ) </h3>   
            <label for="Search">주제영역:</label>        
            {% bootstrap_form form layout='inline' align=right %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" layout='inline'> 
                {% bootstrap_icon "star" %} 제출
                </button>
            {% endbuttons %}
        </div>
    </form>
    <p></p>
    <hr>

    <div id="container" class="dataTables_wrapper">
            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%" >
                <thead>
                <tr>
                    <td><B>모델명</B></td>
                    <td><B>한글명</B></td>
                    <td><B>테이블</B></td>
                    <td><B>상태</B></td>
                    <td><B>발생주기</B></td>
                    <td><B>월증가건수</B></td>
                    <td><B>보존주기</B></td>
                    <td><B>초기건수</B></td>
                </tr>
                </thead>
                <!-- 이 부분이 바뀌었습니다 -->
                <tbody>
                        {% for row in form.yws_rows %}
                        <tr>
                            <td> {{ row.MDL_NM }} </td>
                            <td> {{ row.ENT_NM }} </td>
                            <td> {{ row.TBL_NM }} </td>
                            <td> {{ row.STAT }} </td>
                            <td> {{ row.OCCUR_CYCLE }} </td>
                            <td align="right"> {{ row.MONTHY_OCCUR_QTY|intcomma }} </td>
                            <td> {{ row.MNGT_CYCLE }} </td>
                            <td align="right"> {{ row.TOT_OCCUR_QTY|intcomma }} </td>
                        </tr>
                        {% endfor %}
                <!-- 여기까지 -->
                <tbody>
        </table>
    </div>
</div>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "paging":   false,
        "ordering" : true,
        "order": [[ 1, "asc" ]],
        "info":     true
    } );
} );
</script>
{% endblock content %}