{% extends "base.html" %}
{% load bootstrap3 %}
{% block include_datatable %}
{% include "datatable.html" %}
{% include "datarange.html" %}
{% endblock %}

{% block content %}    
<div style="margin-left:5%;margin-right:5%">
    <div class="padding-20">
        <div class="row">
            <div class="col-md-2">
                    <h3>{% block title %}검증로그{% endblock %}</h3>
            </div>
            <div class="col-md-8">                
                <!-- Search Bar -->
                <form class="navbar-form navbar-left" role="search" method=GET>                        
                        <div class="form-group">
                            <label for="검증번호">검증번호:</label>
                            <input type="text" class="form-control input-sm" style="width:5em;" placeholder="Search" name=qry id=qry value="{{gets.qry}}" >
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker5'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type="text" class="form-control input-sm"  name=dates id=dates >
                            </div>
                        </div>
                        {% bootstrap_form form  layout='inline' %}
                        <button type="submit" class="btn btn-default">조회</button>
                </form>
            </div>       
        </div>
    </div>
    <div id="content" class="padding-20">
        <!-- HTML DATATABLE -->
        <table class="table table-striped table-hover table-bordered" id="example">
            <thead>
                <tr>
                    <th>ID</th>                
                    <th>검증번호</th>                                   
                    <th>검증명</th>                                   
                    <th>명령유형코드</th>
                    <th>수행결과</th>
                    <th>DB명</th>
                    <th>스키마명</th>
                    <th>시작일시</th>
                    <th>종료일시</th>
                    <!--th class="hideTechDetail"></th-->
                </tr>
            </thead>
            <tbody>
                {% for row in object_list %}
                <tr>
                    <td>{{ row.VRFY_LOG_NO }}</td>
                    <td>{{ row.VRFY_NO }}</td>
                    <td>{{ row.VRFY_NM }}</td>                                    
                    <td onClick="run_vrfy('{{ row.VRFY_NM}}',{{ row.VRFY_LOG_NO }})" class="yws_pnt" > {{ row.CMD_TYPE_CD }}</td>
                    <td>{{ row.VRFY_RSLT_VAL }}</td>
                    <td>{{ row.DB_NM }}</td>
                    <td>{{ row.SCHEMA_NM }}</td>
                    <td>{{ row.RGST_DTTM|date:'Y-m-d H:i:s'  }}</td>
                    <td>{{ row.MODI_DTTM|date:'Y-m-d H:i:s'  }}</td>  
                    <!--td class="hideTechDetail">{% csrf_token %}</td-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" class="init">
    // 데이터 테이블 처리 루틴 시작  ================================================
    $(document).ready(function() {
        $('#example').DataTable( {          
            dom: 'Bfrtpi', //lBfrtpi
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
            "columns": [
                { "width": "5%" },
                { "width": "15%" },
                { "width": "15%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "5%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" }
            ],                  
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"]
            ],
            "pageLength": 15,    
            "columnDefs": [{
                "targets": [0],
                "searchable": false,
                "visible": true,
                "width": "20%"
            }, {
                "targets": [ 1 ],
                "searchable": false,
                "visible": true,
            }],                   
            "paging":   true,
            "ordering" : true,
            "order": [[ 0, "desc" ]],
            "info":     true
        } );
    } );
    // 데이터 테이블 처리 루틴 종료 ================================================      
    // 날짜 입력을 반는 루틴 시작  ================================================
    $(function() {
        var d1 = '{{ dates.0 }}';
        var d2 = '{{ dates.1 }}';
        var start = ( d1 == '') ? moment().subtract(7, 'days') : moment(d1); 
        var end = ( d2 == '') ? moment() : moment(d2); 

        function cb(start, end) {
            $('#dates').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        }

        $('#dates').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            locale: {
                format: 'YYYY-MM-DD'
            }
        }, cb);

        cb(start, end);
    });    
    // 날짜 입력을 종료 ================================================
</script>

{% block include_modal %}
{% include "vrfyLog_ajax.html" %}
{% endblock %}

{% endblock content %}