{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    게시글
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <span class="pull-right">
                 <a class="btn btn-primary" href="{% url 'blog:post_new' %}" style="margin-bottom:5px" ><span class="glyphicon glyphicon-plus-sign"></span> New</a>
            </span>
        </div>
    </div>
    <!-- 테이블 시작 -->        
    <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%" >
        <thead>
        <tr >
            <th style="width:10%;text-align:center" >번호</th>
            <th style="width:50%;text-align:center">제목</th>
            <th style="width:20%;text-align:center" >등록자</th>
            <th style="width:20%;text-align:center" >수정일시</th>
        </tr>
        </thead>
        <tbody>
                {% for post in posts %}
                <tr>
                    <td> {{ post.id }} </td>
                    <td> <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></td>
                    <td> {{ post.author.username }} </td>
                    <td> {{ post.published_date }} </td>
                </tr>
                {% endfor %}
        <tbody>
    </table>
    <!-- 테이블 종료 -->  
    <!-- pagination 시작 -->
    <div class="row text-center">
        <ul class="pagination">
            {% for i in posts.paginator.page_range %}
                {% ifequal i posts.number %}
                    <li class="active" ><a href="#">{{i}}</a></li>
                {% else %}
                    <li><a href="{% url 'blog:post_page' i %}">{{i}}</a></li>
                {% endifequal %}
            {% endfor %}
        </ul>
    </div>
    <!-- pagination 종료 -->    
</div>    
{% endblock %}