{% load bootstrap3 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>Data Life Cycle 관리</title>
    <meta name="description" content="Data Quality Meta Manager">
    <meta name="author" content="wonseokyou">

 <!-- jquery include start -->   
 <script src="//code.jquery.com/jquery.min.js"></script>
 
 <!-- bootstrap include start -->   
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% block include_datatable %}{% endblock %}
</head>

<body>
  <div class="container">
  <br>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Meta-eXpress</a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li> <a href="{% url 'mdl2tbl:djbs01' %}"><span>모델비교</span></a></li>
          <li> <a href="{% url 'mdl2tbl:djbs02' %}"><span>데이터수명주기</span></a></li>                                        
          <!-- DA# 관련 메뉴 시작 -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">데이터검증 <span class="caret"></span></a>
            <ul class="dropdown-menu">                             
              <li> <a href={% url 'dq:vrfy_list' %}><span>검증메터관리</span></a></li>
              <li role="separator" class="divider"></li>
              <li> <a href={% url 'dq:vrfy_Cmd_list' %}><span>데이터수명주기</span></a></li>                              
            </ul>
          </li><!-- DA# 관련 메뉴 종료 -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>        
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
  </div>
{% block content %}{% endblock %}
</body>
</html>